<div class="container"  >
    
        <div class="d-flex justify-content-center align-items-center min-vh-100">   
           <form [formGroup]="loginForm" (ngSubmit)="submitLogin(loginForm)">
            <h2 class="text-center"><strong>Login:</strong></h2>
          <mat-error class="text-center">{{apiError}}</mat-error>          <lib-registerform  [placeholder]="'Ex.abomos3belarmoty@gmail.com'" [type]="'email'" [label]="'Enter your E-mail'" controlName="email" >          <mat-error *ngIf="loginForm.get('email')?.getError('email')"></mat-error>
          </lib-registerform>
          <lib-registerform keydown [placeholder]="'Ex.!P123b@'" [type]="'password'" [label]="'Enter your security'" controlName="password" ></lib-registerform>
          <div class="d-flex">
          <button class="ms-auto w-25" color="primary" mat-raised-button [disabled]="!loginForm.valid" type="submit">
            <mat-spinner *ngIf="isLoading" diameter="25" color="warn"></mat-spinner> <span *ngIf="!isLoading">Login</span></button>
        </div>
        </form>
      </div>

</div>