
    <!-- <-- <nav class="navbar navbar-expand-lg bg-light">
      <div class="container">
        <a class="navbar-brand" routerLink="home"> <i class="fa-solid fa-cart-shopping texts"></i>FreshCart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home" routerLinkActive="recent-block"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="cart" routerLinkActive="active-link"
            >Cart <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active">
          <a
            class="nav-link"
            routerLink="products"
            routerLinkActive="recent-block"
            >Products <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active">
          <a
            class="nav-link"
            routerLink="categories"
            routerLinkActive="recent-block"
            >Categories <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active">
          <a
            class="nav-link"
            routerLink="brands"
            routerLinkActive="recent-block"
            >Brands <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item-active align-self-center">
          <i class="fa-brands fa-facebook m-1"></i>
          <i class="fa-brands fa-x-twitter m-1"></i>
          <i class="fa-brands fa-instagram m-1"></i>
          <i class="fa-brands fa-linkedin m-1"></i>
          <i class="fa-brands fa-youtube m-1"></i>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="login" routerLinkActive="recent-block"
            >Login <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active">
          <a
            class="nav-link"
            routerLink="register"
            routerLinkActive="recent-block"
            >Register <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active">
          <a
            class="nav-link"
            routerLink="logout"
            routerLinkActive="recent-block"
            >Logout <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>  -->
<mat-toolbar color="primary" class="mat-elevation-z7">
  <button (click)="drawer.toggle()" mat-icon-button type="button" class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span><mat-icon color="warn">shopping_cart</mat-icon> E-Commerce</span>
  <button  class="m-2" mat-raised-button   routerLinkActive="mat-warn" routerLink="/settings">Settings Module <mat-icon >mood</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <ng-template [ngIf]="!isLogin">
  <button  mat-raised-button   routerLinkActive="mat-warn" routerLink="/login">Sign-In <mat-icon >mood</mat-icon>
  </button>
  <button  mat-raised-button   routerLinkActive="mat-warn" routerLink="/register">Register <mat-icon >how_to_reg</mat-icon>
  </button>
</ng-template> 
<!--  -->
<mat-icon class="cursor-pointer" mat-icon-button  matBadgeColor="warn" matBadge={{numOfCartItems}}  [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
  <mat-icon   >add_shopping_cart</mat-icon>
</mat-icon>  
<!--  -->
<button  mat-icon-button  *ngIf="isLogin" (click)="singOut()" > <mat-icon  >logout</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container #autosize>
  <mat-drawer #drawer mode="push" >
    <mat-nav-list>
      <mat-list-item>
  <button mat-raised-button routerLinkActive="mat-warn" *ngIf="isLogin"  routerLink="/home"><mat-icon>home</mat-icon>Home</button>    
   </mat-list-item>
      <mat-list-item>
        <button mat-raised-button routerLinkActive="mat-warn"*ngIf="isLogin"  routerLink="/cart"> <mat-icon>shopping_cart</mat-icon>Carts</button>   
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button routerLinkActive="mat-warn" *ngIf="isLogin"  routerLink="/products"><mat-icon>money_off</mat-icon>Products</button>   
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button routerLinkActive="mat-warn"  *ngIf="isLogin"  routerLink="/categories" ><mat-icon>view_agenda</mat-icon>Categories</button>   
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button routerLinkActive="mat-warn"  *ngIf="isLogin" routerLink="/brands" ><mat-icon>branding_watermark</mat-icon>Brands</button>    
       </mat-list-item>
      <mat-list-item>
        <button mat-raised-button routerLinkActive="mat-warn"  *ngIf="!isLogin" routerLink="/login" ><mat-icon>branding_watermark</mat-icon>log in to access</button>    
       </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="text-center min">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>    
  </mat-drawer-content>
</mat-drawer-container>
 