  <!-- <ng-container *ngIf="registerForm">

    
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Continue Registeration! <strong>Optional</strong></mat-card-title>
        </mat-card-header>
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <mat-label>postal code</mat-label>
        <input formcontrolname="postalCode" matInput placeholder="Ex.5555">
        <mat-hint>Postal code is made of 5 digits</mat-hint>
      </mat-form-field>
      
      <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input formcontrolname="city" matInput placeholder="Ex. It makes me feel...">
        <mat-hint>Alexandria</mat-hint>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Full Address</mat-label>
        <input formcontrolname="address" matInput placeholder="Ex. It makes me feel...">
      </mat-form-field>

    </mat-card-content>
  </mat-card>
  </ng-container> -->